* {
  box-sizing: border-box;
  font-family: 'Finlandica', sans-serif;
}

body {
  margin: 0;
  background-color: white;
  /* transition: background-color 0.25s linear; */
}


a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: fixed;
  top: 0px;
  background-color: rgb(25, 25, 25);
  width: 100%;
}

.fullwidth{
  width: 100%;
}

.leftblock{
  width: 49%;
  text-align: right;
  float: left;
  padding: 10px;
}

.rightblock{
  width: 35%;
  text-align: left;
  float: left;
  padding: 10px;
  padding-top: 22px;
  padding-bottom: 30px;
}

.niceenter{
  border: 2px solid black;
  background: white;
}

.nav-items {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items li {
  display: inline-block;
  color: white;
}

.nav-items li a {
  display: block;
  padding: 1rem;
  color: white;
}


.regbutton{
  height: 100px; 
  width: 33%;
  background:  rgb(2, 117, 216); 
  border: 0px solid red;
  color: white;
  border-radius: 15px;
  font-size: 50px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.regbutton:hover{
  background-color: rgb(0, 80, 180); 
}

.selectbutton{
  height: 50px; 
  width: 200px;
  background:  rgb(2, 117, 216); 
  border: 0px solid red;
  color: white;
  border-radius: 15px;
  font-size: 30px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.selectbutton:hover{
  background-color: rgb(0, 80, 180); 
}

.largenotif{
  position: fixed;
  width: auto;
  height: auto;
  left: 35%;
  top: 20%;
  border: 3px solid rgb(2, 117, 216);
  border-radius: 15px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for pop-up */
  padding: 20px;
  margin: auto;
  background: rgba(255,255,255,0.9);
  text-align: center;
  display: none;
}
@media (max-height: 600px) {
  .largenotif {
    max-height: 80%; /* Reduce the maximum height on smaller screens */
  }
}

.blocker{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0,0,0,0.4);
  display: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.largenotif h2 {
  color: #333333; /* Dark text for heading */
  font-size: 1.5rem; /* Font size for heading */
  margin-bottom: 15px;
}

.largenotif h3 {
  color: #555555; /* Dark text for content */
  font-size: 1.1rem; /* Font size for content */
  margin: 5px 0; /* Reduced margin for content */
}

.btn-verify {
  font-size: 1.1rem; /* Font size for buttons */
  padding: 0.5rem 1rem; /* Padding for buttons */
  margin-top: 10px; /* Space above the buttons */
  width: auto; /* Auto width based on content */
  margin-bottom: 10px; /* Space between buttons */
}

.verify-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#instruction-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#instruction-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
}
#instruction-content img {
  max-width: 60%; /* Image will not exceed the container's width */
  height: auto; /* Maintain aspect ratio */
}
#instruction-overlay #instruction-content ul {
  list-style-type: disc; /* or other style like circle, square, etc. */
  margin-left: 20px; /* Adjust based on your layout */
  padding-left: 0;
}

#instruction-overlay #instruction-content li {
  text-align: left; /* Ensure text alignment is consistent */
  margin-left: 0; /* Adjust as needed */
}


/* Custom Navbar Styles */
.navbar .container-fluid {
  justify-content: center; /* Center the content */
  text-align: center; /* Center align the text */
}

.navbar-brand, .navbar-nav .nav-link {
  font-size: 1.25rem; /* Increase font size */
  margin: 0; /* Remove any default margin */
}

/* Ensure the navbar text is vertically centered */
.navbar-nav {
  align-items: center;
}
#statsModal .modal-content {
  background-color: #f8f9fa; /* Light background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Box shadow for 3D effect */
}
#statsModal .modal-header {
  background-color: #007bff; /* Header background color */
  color: white; /* Text color for the header */
  border-top-left-radius: 10px; /* Rounded top-left corner */
  border-top-right-radius: 10px; /* Rounded top-right corner */
}
#statsModal .modal-body p {
  font-weight: bold; /* Bold text for modal body */
  color: #333; /* Dark text color for readability */
  font-size: 1.5em; /* Slightly larger text */
}
#statsModal .modal-footer {
  background-color: #f8f9fa; /* Footer background color */
}
.navbar img {
  vertical-align: middle;
  max-height: 80px; /* Adjust as needed */
}
.footer {
  margin-top: 50px; /* Adjust the margin as needed */
  padding: 20px 0;
  background-color: #f5f5f5; /* Choose a background color that fits your design */
  color: #333; /* Text color */
}

.footer p {
  margin-bottom: 0;
}


